.card{
    position:relative;
    width: 800px;
    padding: 0px;
    max-width: 85vw;
    height: 290vh;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    }
    
    .tinderCard_container{
      display: flex;
      justify-content: center;
      margin-top: 10vh;
      margin-left: 30vh;
    }
    
    .swipe{
      position: absolute;
    }